html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.icon-arr-left {
  width: 0.79em;
  height: 1em;
  fill: none;
}

.icon-arr-right {
  width: 0.79em;
  height: 1em;
  fill: none;
}

.icon-arr {
  width: 0.48em;
  height: 1em;
  fill: none;
}

.icon-behance {
  width: 1.6em;
  height: 1em;
  fill: #111;
}

.icon-github {
  width: 1.5em;
  height: 1.5em;
  fill: #111;
}

.icon-resume {
  width: 1.8em;
  height: 1.5em;
  fill: #111;
}

.icon-close {
  width: 1em;
  height: 1em;
  fill: #3a3a3a;
}

.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-logo {
  width: 3.12em;
  height: 3em;
  fill: #626262;
}

.icon-message {
  width: 1.45em;
  height: 1em;
  fill: #fff;
}

.icon-quote {
  width: 0.79em;
  height: 1em;
  fill: initial;
}

@font-face {
  font-family: roboto;
  src: url("../fonts/roboto.eot");
  src: url("../fonts/robotod41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: roboto-light;
  src: url("../fonts/roboto-light.eot");
  src: url("../fonts/roboto-lightd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: roboto-medium;
  src: url("../fonts/roboto-medium.eot");
  src: url("../fonts/roboto-mediumd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: roboto-mediumitalic;
  src: url("../fonts/roboto-mediumitalic.eot");
  src: url("../fonts/roboto-mediumitalicd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-mediumitalic.woff2") format("woff2"), url("../fonts/roboto-mediumitalic.woff") format("woff"), url("../fonts/roboto-mediumitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: roboto-thin;
  src: url("../fonts/roboto-thin.eot");
  src: url("../fonts/roboto-thind41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin.woff2") format("woff2"), url("../fonts/roboto-thin.woff") format("woff"), url("../fonts/roboto-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pfencore;
  src: url("../fonts/pfencore.eot");
  src: url("../fonts/pfencored41d.eot?#iefix") format("embedded-opentype"), url("../fonts/pfencore.woff2") format("woff2"), url("../fonts/pfencore.woff") format("woff"), url("../fonts/pfencore.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: timeburner;
  src: url("../fonts/timeburner.eot");
  src: url("../fonts/timeburnerd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/timeburner.woff2") format("woff2"), url("../fonts/timeburner.woff") format("woff"), url("../fonts/timeburner.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: proximanova-black;
  src: url("../fonts/proximanova-black.eot");
  src: url("../fonts/proximanova-blackd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-black.woff2") format("woff2"), url("../fonts/proximanova-black.woff") format("woff"), url("../fonts/proximanova-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 320px;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'roboto-light', Arial, sans-serif;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.out {
  position: relative;
  padding-top: 142px;
  z-index: 0;
}

.out-main {
  padding-top: 0;
}

.out-white-bg .link {
  color: #a0a0a0;
}

.out-white-bg .link:hover, .out-white-bg .link.is-active {
  color: #FFF;
}

.out-white-bg .social {
  margin-top: 10px;
}

.out-white-bg .social__link .icon {
  fill: #cdcdcd;
}

.out-white-bg .social__link span:hover {
  color: #cdcdcd;
}

.out-white-bg .social__logo {
  color: #cdcdcd;
}

.out-black-bg {
  background: url("../img/section-bg.jpg") repeat;
  background-color: #000;
}

.out-black-bg .title {
  text-shadow: -11.9px 1.9px 20px #000;
}

.out-black-bg .part h2, .out-black-bg .part h3 {
  color: #FFF;
}

.out-black-bg .objective__txt h3 {
  color: #FFF;
}

.out-black-bg .video-shadow {
  box-shadow: 0 0 35.6px 4.4px rgba(0, 0, 0, 0.47);
}

.out-black-bg .moveto__bl {
  background: url("../img/section-bg.jpg") repeat;
  background-color: #000;
}

.out-black-bg .social__logo .icon-logo {
  fill: #fff;
}

.out-black-bg .social__link {
  color: #FFF;
}

.out-black-bg .social__link:hover {
  color: #4d4d4d;
}

.out-black-bg .social__link:hover .icon {
  fill: #fff;
}

.out-black-bg .social .icon {
  fill: #4d4d4d;
}

.out-black-bg .bar {
  background: #363636;
}

.out-skew {
  overflow: hidden;
}

.out-skew .part .l-center {
  position: relative;
}

.out-skew .part .l-center:before {
  content: "";
  position: absolute;
  top: -150px;
  right: -399px;
  width: 869px;
  height: 3041px;
  height: 2930px;
  background-color: #f4d509;
  -webkit-transform: skewX(-195.2deg);
  -ms-transform: skewX(-195.2deg);
  transform: skewX(-195.2deg);
  width: 805px;
  right: -65px;
  height: 3020px;
  top: -259px;
  width: 720px;
}

.out-skew .objective__txt {
  color: #514707;
}

.out-skew .objective__txt h3 {
  color: #000;
}

.l {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.l-center {
  max-width: 1255px;
  margin: 0 auto;
  padding: 0 15px 0 70px;
}

.title {
  position: relative;
  text-transform: uppercase;
  text-shadow: -11.9px 1.9px 20px #ced0d3;
  color: #fff;
  line-height: 0.75;
  letter-spacing: -0.25em;
  font-family: 'proximanova-black', Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-big, .title-special1 {
  overflow: hidden;
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
  padding-top: 4px;
}

.title-big .title__txt, .title-special1 .title__txt {
  font-size: 100px;
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  transform: translate(0, 100px);
  transition: -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.title-big.is-visible .title__txt, .title-special1.is-visible .title__txt {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.title-special1 {
  padding: 30px 0 20px 30px;
  position: relative;
  top: -30px;
  left: -30px;
  overflow: hidden;
  margin-bottom: -20px  !important;
}

.title-right {
  float: right;
  max-width: 480px;
  max-width: 489px;
  text-align: right;
}

.title-right.title-special2 {
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
  overflow: hidden;
  padding: 18px 15px 15px 26px;
}

.title-right.title-special2 .title__txt {
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  transform: translate(0, 100px);
  transition: -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.title-right.title-special2.is-visible .title__txt {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.title.title-special2 {
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
  overflow: hidden;
  padding: 18px 15px 15px 26px;
}

.title.title-special2 .title__txt {
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  transform: translate(0, 100px);
  transition: -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.title.title-special2.is-visible .title__txt {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.title-small {
  max-width: 330px;
}

.title__bl
 {
  font-size: 0;
  line-height: 1;
}

.title__span {
  display: inline-block;
  width: 22%;
  padding: 5px 20px 0 0;
  text-align: right;
  font-size: 80px;
  vertical-align: middle;
}

.title__txt {
  display: inline-block;
  text-transform: uppercase;
  font-size: 80px;
  vertical-align: middle;
}

.title__txt-cloned {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12.5%;
  overflow: hidden;
  -webkit-animation: glitch 0.5s steps(7) infinite;
  animation: glitch 0.5s steps(7) infinite;
}

.title__txt-cloned span {
  display: inline-block;
  vertical-align: top;
  background: url(../img/section-bg.jpg) repeat;
  color: #FFF;
}

.title__txt-cloned-1 {
  top: 0%;
}

.title__txt-cloned-1 span {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.title__txt-cloned-2 {
  top: 20%;
}

.title__txt-cloned-2 span {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.title__txt-cloned-3 {
  top: 40%;
}

.title__txt-cloned-3 span {
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.title__txt-cloned-4 {
  top: 60%;
}

.title__txt-cloned-4 span {
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}

.title__txt-cloned-5 {
  top: 80%;
}

.title__txt-cloned-5 span {
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
}

.title__svg {
  display: inline-block;
  width: 78%;
  text-align: left;
  text-transform: uppercase;
  text-shadow: none;
  vertical-align: middle;
  font-family: 'proximanova-black', Arial, sans-serif;
}

.title__name {
  width: 100%;
  max-width: 530px;
  height: 100%;
}

.hideover {
  overflow: hidden;
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  19% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  39% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  59% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  79% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  99% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  19% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  39% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  59% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  79% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  99% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.video {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

.video.video_alt {
  padding-bottom: 55%;
}

.video-shadow {
  margin-top: 27px;
  box-shadow: -4px 17.5px 35px #ced0d3;
}

.video-gif {
  width: auto;
  padding-bottom: 0;
  height: 100%;
  box-shadow: none;
}

.video-gif .video__bl {
  top: 9%;
  left: 14%;
  right: 14%;
  bottom: 20%;
  z-index: -1;
}

.video-mode {
  width: auto;
  padding-bottom: 0;
  height: 100%;
  box-shadow: none;
}

.video-mode .video__bl {
  top: 9.7%;
  left: 14%;
  right: 14%;
  bottom: 19%;
  z-index: 2;
  z-index: -1;
}

.video-mode__el {
  border-radius: 0;
}

.video-mob-shadow {
  z-index: 0;
}

.video-mob-shadow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 11%;
  right: 11%;
  bottom: 10%;
  border-radius: 42px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), -6px 0 15px 0px rgba(0, 0, 0, 0.2), 6px 0 15px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.video-more-height {
  padding-bottom: 74%;
}

.video__bl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.video__el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  border-radius: 0 0 4px 4px;
}

.video__gif {
  width: 100%;
  height: 100%;
}

.video__img {
  border-radius: 0 0 4px 4px;
}

.video img {
  max-width: 100%;
  pointer-events: none;
}

.bar {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  height: 27px;
  padding: 10px 0 0 10px;
  text-align: left;
  font-size: 0;
  background: #ebebeb;
  border-radius: 4px 4px 0 0;
  z-index: 1;
}

.bar:before, .bar:after,
.bar i {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 2px;
  vertical-align: middle;
  border-radius: 4px;
}

.bar:before {
  content: "";
  background: #F74847;
}

.bar:after {
  content: "";
  background: #38c328;
}

.bar i {
  background: #fbaf15;
}

.js-offset-content {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.js-offset-content.is-visible {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.js-offset-content.js-fadein {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  transition: opacity 1.2s ease, visibility 1.2s ease;
}

.js-offset-content.js-fadein.is-visible {
  opacity: 1;
  visibility: visible;
}

.section {
  position: relative;
  min-height: 767px;
  padding: 0 15px 0 70px;
  background: url(../img/section-bg.jpg) repeat;
  background-color: #000;
}

.section-first {
  padding: 0;
  height: 100vh;
  min-height: 400px !important;
  overflow: hidden;
  z-index: 110;
  text-align: center;
  font-size: 0;
}

.section-first:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.section-first.is-hidden .section__txt,
.section-first.is-hidden .icon-logo,
.section-first.is-hidden .arr {
  opacity: 0;
  visibility: hidden;
}

.section-first.is-quick:after {
  display: none;
}

.section-first.is-loaded .symbol {
  opacity: 1;
  visibility: visible;
}

.section-first__bg {
  position: absolute;
  top: 0;
  left: -1%;
  right: -0.8%;
  bottom: 0;
  text-align: center;
  font-size: 0;
}

.section-first__bg:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.section-first .icon-logo {
  margin-top: 20px;
  fill: #626262;
}

.section-footer {
  background: none;
}

.section-footer:before {
  content: "";
  position: absolute;
  top: 187px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/section-bg.jpg) repeat;
  background-color: #000;
}

.section-parallax {
  height: 767px;
}

.section-parallax .l {
  height: 100%;
}

.section-white {
  background: #FFF;
}

.section-white .icon-logo {
  margin: 27px 0 25px;
  opacity: 1;
  visibility: visible;
  fill: #cecece;
}

.section__el {
  max-width: 770px;
  min-height: 767px;
  margin: 0 auto;
  text-align: center;
}

.section__el-padding-top {
  padding-top: 132px;
}

.section__centered {
  display: table;
  width: 100%;
  height: 767px;
}

.section__letters {
  position: relative;
  display: inline-block;
  width: 41.2%;
  vertical-align: middle;
}

.section__bl {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 11%;
  padding-top: 51px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

.section__bl.is-visible .section__txt,
.section__bl.is-visible .logo {
  opacity: 1;
  visibility: visible;
}

.section__txt {
  letter-spacing: 0.6em;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
}

.section__list {
  color: #565656;
  font-size: 22px;
  line-height: 1.85;
  font-family: 'roboto-light', Arial, sans-serif;
}

.section__footer {
  padding: 187px 0 78px;
  margin-top: -187px;
  overflow: hidden;
}

.section .icon-logo {
  font-size: 20px;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
}

.symbol {
  left: 4%;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0;
  vertical-align: middle;
  text-align: justify;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.3s ease-in-out, visibility 1.3s ease-in-out;
}

.symbol__bl {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 0;
  padding-bottom: 8.6%;
  vertical-align: middle;
}

.symbol__el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  fill: rgba(0, 0, 0, 0.5);
}

.symbol svg {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.letter {
  position: absolute;
  width: 25%;
  height: 0;
  padding-bottom: 21.506%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: top 1s ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.letter.animation-finished:hover .letter-ontop {
  opacity: 0;
  visibility: hidden;
}

.letter.animation-finished:hover .noise {
  opacity: 1;
}

.letter.is-animate {
  top: 0;
}

.letter-ontop {
  fill: #fff;
}

.letter__bl {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.letter__svg {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
}

.letter-a {
  left: 10%;
  top: -60vmax;
}

.letter-a2 {
  right: 0.7%;
  top: 60vmax;
}

.letter-n {
  left: 35%;
  top: 60vmax;
}

.letter-n2 {
  left: 60%;
  top: -60vmax;
}

.noise {
  opacity: 0;
}

.arr {
  position: absolute;
  left: 50%;
  bottom: 7.8vh;
  margin-left: -15px;
  font-size: 68px;
  stroke: #636363;
  fill: none;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
  -webkit-animation: pulse 1s infinite ease-in-out;
  animation: pulse 1s infinite ease-in-out;
}

.arr:hover .icon-arr {
  stroke: #fff;
}

.arr .icon-arr {
  transition: stroke 0.3s ease-in;
}

@-webkit-keyframes pulse {
  0% {
    margin-bottom: -10px;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: -10px;
  }
}

@keyframes pulse {
  0% {
    margin-bottom: -10px;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: -10px;
  }
}

.designer {
  position: relative;
  height: 100%;
  z-index: 3;
  *zoom: 1;
}

.designer:after {
  content: " ";
  display: table;
  clear: both;
}

.designer__img {
  display: inline-block;
  max-width: 527px;
  vertical-align: middle;
}

.designer__img img {
  max-width: 100%;
}

.designer__intro {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60%;
  z-index: 1;
  text-align: center;
  font-size: 0;
}

.designer__intro:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.designer__in {
  display: inline-block;
  text-align: left;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.055em;
  vertical-align: middle;
  line-height: 1.15;
  font-family: 'roboto-medium', Arial, sans-serif;
}

.more-info {
  display: inline-block;
  width: 60%;
  font-size: 20px;
  color: #FFF;
  line-height: 1.65;
  vertical-align: middle;
  font-family: 'roboto-light', Arial, sans-serif;
}

.more-info p {
  margin-bottom: 35px;
}

.l-parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 767px;
  text-align: center;
  font-size: 0;
  z-index: 1;
}

.l-parallax:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.l-parallax.is-active {
  position: fixed;
}

.l-parallax_text-left {
  z-index: 2;
}

.l-parallax_text-left .l-parallax__in {
  text-align: left;
}

.l-parallax__in {
  display: inline-block;
  text-align: right;
  width: 100%;
  max-width: 1055px;
  margin: 0 auto;
  padding: 0 15px 0 70px;
  vertical-align: middle;
}

.blockquote {
  display: table-cell;
  font-size: 24px;
  color: #444343;
  vertical-align: middle;
  line-height: 36px;
  letter-spacing: 0.05em;
  font-family: 'roboto-mediumitalic', Arial, sans-serif;
}

.blockquote__in {
  position: relative;
  font-size: 0;
}

.blockquote__el {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin-bottom: 40px;
}

.blockquote__q {
  position: relative;
  display: inline-block;
  font-size: 33px;
  vertical-align: middle;
  line-height: 1;
}

.blockquote__q:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  right: 4px;
  bottom: 6px;
  -webkit-transform: skewX(-14deg);
  -ms-transform: skewX(-14deg);
  transform: skewX(-14deg);
  box-shadow: -4.8px 1.5px 20px #ced0d3;
}

.blockquote__q svg {
  fill: none;
}

.blockquote__author {
  margin-top: 15px;
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-family: 'roboto', Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  opacity: 1;
  visibility: visible;
  z-index: 100;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.header.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.header.is-colored .header__in {
  background: #fff;
}

.header.is-colored .header__in:before {
  opacity: 0;
  visibility: hidden;
}

.header.is-colored .header__logo {
  fill: #000;
}

.header.is-colored .header__mail {
  color: #000;
}

.header.is-colored .header__mail:hover {
  color: #a0a0a0;
}

.header.is-colored .link {
  color: #a0a0a0;
}

.header.is-colored .link:hover, .header.is-colored .link.is-active {
  color: #FFF;
}

.header.is-colored .icon-message {
  fill: #a0a0a0;
}

.header.is-colored .nav__btn:before, .header.is-colored .nav__btn:after {
  background: #000;
}

.header.is-colored .nav__btn span {
  background: #000;
}

.header.is-black .header__in {
  background: #0f0f0f;
}

.header.is-black .header__in:before {
  opacity: 0;
  visibility: hidden;
}

.header.is-black .header__mail {
  color: #696969;
}

.header.is-black .header__mail:hover {
  color: #FFF;
}

.header__in {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 570px;
  font-size: 0;
  background: #0f0f0f;
  transition: background 0.2s ease-in;
  *zoom: 1;
}

.header__in:after {
  content: " ";
  display: table;
  clear: both;
}

.header__in:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/section-bg.jpg) repeat;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
}

.header__logo {
  position: relative;
  display: inline-block;
  margin: -5px 45px 0 28px;
  font-size: 22px;
  line-height: 0.8;
  fill: #fff;
}

.header__mail {
  position: relative;
  display: inline-block;
  margin: 18px 24px 0 0;
  text-decoration: none;
  font-size: 13px;
  color: #696969;
  vertical-align: top;
  letter-spacing: 0.3em;
  font-family: 'roboto', Arial, sans-serif;
  transition: color 0.3s ease;
}

.header__mail:hover {
  color: #FFF;
}

.header__mail span {
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
  line-height: 1;
}

.header .link {
  display: inline-block;
  font-size: 11px;
  margin-right: 23px;
  padding: 24px 8px 15px 13px;
  vertical-align: top;
}

.header .link.is-active {
  color: #FFF;
  background: url(../img/noise.gif) repeat;
}

.header .link.is-active:after {
  display: block;
}

.is-desktop .header .link:hover {
  color: #FFF;
  background: url(../img/noise.gif) repeat;
}

.is-desktop .header .link:hover:after {
  display: block;
}

.header .icon-message {
  display: inline-block;
  font-size: 11px;
  vertical-align: middle;
}

.nav {
  position: fixed;
  top: 18px;
  left: 0;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  opacity: 1;
  visibility: visible;
  z-index: 22;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.nav.nav-grey li .link {
  color: #a0a0a0;
}

.nav.nav-grey li:hover .link, .nav.nav-grey li.is-active .link {
  color: #FFF;
}

.nav.is-hovered {
  z-index: 24;
}

.nav__menu {
  position: relative;
  width: calc(100vh - 50px);
  font-size: 11px;
}

.nav__btn {
  position: relative;
  display: none;
  float: right;
  width: 28px;
  height: 15px;
  margin: 15px 15px 0 0;
}

.nav__btn:before, .nav__btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #FFF;
}

.nav__btn:before {
  top: 0;
}

.nav__btn:after {
  bottom: 0;
}

.nav__btn span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  margin-top: -0.5px;
  background: #FFF;
}

.nav__close {
  display: none;
}

.nav li {
  display: inline-block;
  padding: 0;
  font-size: 10px;
  cursor: pointer;
}

.nav li.is-mob {
  display: none;
}

.nav li .link {
  color: #fff;
}

.nav li.is-active .link {
  color: #FFF;
  background: url(../img/noise.gif) repeat;
}

.nav li.is-active .link:after {
  display: block;
}

.is-desktop .nav li:hover .link {
  color: #FFF;
  background: url(../img/noise.gif) repeat;
}

.is-desktop .nav li:hover .link:after {
  display: block;
}

.nav .social {
  display: none;
}

.link {
  position: relative;
  display: inline-block;
  padding: 5px 10px 27px 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 0.5em;
  line-height: 1;
  font-family: 'roboto', Arial, sans-serif;
}

.link span {
  position: relative;
  z-index: 1;
}

.link:after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(27, 27, 27, 0.5);
}

.mask-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  clip: rect(0, auto, auto, 0);
  overflow: hidden;
  z-index: 23;
}

.portfolio {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 570px;
  opacity: 0;
  visibility: hidden;
  background: #0f0f0f;
  z-index: 20;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
  text-align: center;
  font-size: 0;
}

.portfolio:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.portfolio.is-visible {
  opacity: 1;
  visibility: visible;
}

.portfolio__bl {
  position: relative;
  display: inline-block;
  width: 330px;
  height: 370px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio__bl:before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  width: 229px;
  height: 490px;
  margin-left: -114.5px;
  background: #1b1b1b;
}

.portfolio__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
}

.portfolio__img:hover .portfolio__about,
.portfolio__img:hover .portfolio__info {
  opacity: 1;
  visibility: visible;
}

.portfolio__about {
  position: relative;
  text-decoration: none;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s linear, visibility 0.15s linear;
  background: url(../img/noise.gif) repeat;
  overflow: hidden;
  font-family: 'roboto', Arial, sans-serif;
  text-align: center;
  font-size: 0;
}

.portfolio__about:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.portfolio__about:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(27, 27, 27, 0.5);
}

.portfolio__info {
  position: relative;
  display: inline-block;
  max-width: 190px;
  padding: 0 0.5em 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.5em;
  line-height: 1.5;
  opacity: 0;
  visibility: hidden;
  vertical-align: middle;
  z-index: 1;
  transition: opacity 0.15s linear, visibility 0.15s linear;
}

.portfolio .icon-logo {
  margin-bottom: 15px;
  font-size: 15px;
  fill: #fff;
}

.moveto {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  *zoom: 1;
}

.moveto:after {
  content: " ";
  display: table;
  clear: both;
}

.moveto__bl {
  float: left;
  min-width: 133px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 35px;
  font-size: 10px;
  color: #b5b5b5;
  letter-spacing: 0.2em;
  line-height: 1;
  background: #FFF;
}

.moveto__bl:hover .moveto__arr:before {
  width: 63px;
}

.moveto__bl-left {
  text-align: center;
}

.moveto__bl-left .moveto__arr {
  left: 12px;
  right: auto;
}

.moveto__bl-left .moveto__arr:before {
  left: auto;
  right: -49px;
}

.moveto__arr {
  position: absolute;
  top: 50%;
  right: 29px;
  margin-top: -18px;
  stroke: #626262;
}

.moveto__arr:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -49px;
  margin-top: -2px;
  width: 0;
  height: 1px;
  background: #626262;
  transition: width 0.3s ease;
}

.moveto .icon {
  font-size: 33px;
}

.footer {
  position: relative;
  padding: 192px 0 86px;
  color: #FFF;
}

.footer-inner {
  padding: 21px 0 85px;
  text-align: center;
}

.footer-inner .social__logo span {
  display: block;
  padding: 5px 0 0 15px;
}

.footer__txt {
  max-width: 585px;
  padding-bottom: 35px;
  font-size: 22px;
  line-height: 1.65;
  font-family: 'roboto-light', Arial, sans-serif;
}

.footer__logo {
  position: absolute;
  top: -185px;
  right: 150px;
  width: 270px;
  height: 878px;
  background-size: contain;
  z-index: 30;
  fill: none;
}

.social {
  margin-top: 37px;
  font-size: 24px;
}

.social__logo {
  margin-bottom: 31px;
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 0;
  font-family: 'roboto', Arial, sans-serif;
}

.social__logo .icon-logo {
  font-size: 26px;
  vertical-align: middle;
}

.social__logo span {
  /*padding-left: 30px;*/
  font-size: 16px;
  vertical-align: middle;
  letter-spacing: 0.4em;
}

.social__link {
  text-decoration: none;
  font-size: 0;
  color: #4d4d4d;
}

.social__link span {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  letter-spacing: 0.055em;
  line-height: 1.2;
  transition: color 0.2s ease-in;
}

.social__link-behance span {
  padding-top: 1px;
}

.social__link-github span {
  padding-top: 1px;
}

.social__link-linkedin span {
  padding-top: 5px;
}

.social__link:hover {
  color: #fff;
}

.social__link:hover .icon {
  fill: #4d4d4d;
}

.social__ico {
  display: inline-block;
  min-width: 80px;
  vertical-align: middle;
}

.social .icon {
  font-size: 16px;
  fill: #FFF;
  vertical-align: middle;
  transition: fill 0.2s ease-in;
}

.social .icon-linkedin {
  font-size: 20px;
}

.part {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.part__info {
  position: relative;
  padding-left: 100px;
  color: #888;
  letter-spacing: 0.05em;
  z-index: 1;
}

.part__bl {
  max-width: 300px;
}

.part__txt {
  margin-bottom: 25px;
  font-size: 13px;
}

.part__pic {
  position: absolute;
  top: -286px;
  right: 85px;
  overflow: hidden;
}

.part__img {
  position: relative;
}

.part__img:first-child {
  position: relative;
  margin: 0 0 -235px 84px;
}

.part__img img {
  max-width: 931px;
  min-width: 465px;
}

.part__cover {
  position: absolute;
  top: 91px;
  left: 0;
  right: 0;
  text-align: right;
  overflow: hidden;
}

.part__center {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  text-align: right;
}

.part__center img {
  position: relative;
  display: block;
  right: -330px;
  width: 1079px;
}

.part h2, .part h3 {
  color: #333;
  font-family: 'roboto-medium', Arial, sans-serif;
}

.part h2 {
  margin-bottom: 41px;
  font-size: 18px;
}

.part h3 {
  margin-bottom: 6px;
  font-size: 14px;
}

.part .title {
  margin-bottom: 50px;
}

.objective {
  position: relative;
  margin: 380px 0 71px;
}

.objective-mode {
  margin-top: 330px;
  overflow: hidden;
}

.objective-mode:before {
  content: "";
  position: absolute;
  top: 120px;
  left: 97px;
  right: 0;
  bottom: 115px;
  background: #f2f4f0;
}

.objective-mode .objective__txt {
  padding: 179px 0 140px;
}

.objective-mode .objective__visual:before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5000px;
  height: 198px;
  margin-top: -99px;
  background: #f2f4f0;
}

.objective__bl {
  position: relative;
  *zoom: 1;
}

.objective__bl:after {
  content: " ";
  display: table;
  clear: both;
}

.objective__txt {
  float: right;
  width: 30%;
  max-width: 270px;
  padding-top: 55px;
  font-size: 14px;
  color: #999;
  line-height: 1.7;
}

.objective__txt h3 {
  font-size: 13px;
  margin-bottom: 10px;
  color: #333;
  letter-spacing: 0.05em;
  font-family: 'roboto-medium', Arial, sans-serif;
}

.objective__visual {
  position: relative;
  float: left;
  width: 66.66%;
  text-align: right;
  font-size: 0;
}

.objective__img {
  margin-right: 30px;
}

.margin-top-20 {
  padding-top: 40px;
}

.media__img {
  display: inline-block;
  max-width: 100%;
}

.media__img-mode {
  max-width: 300px;
  margin-right: -18px;
  vertical-align: top;
}

.media__img-mode1 {
  max-width: 322px;
  margin-right: -18px;
  vertical-align: top;
  max-width: 331px;
  position: relative;
  top: -20px;
}

.media__video {
  display: inline-block;
  vertical-align: top;
}

.example {
  margin-bottom: 86px;
  padding: 130px 0 71px;
  background: #83d82a;
  box-shadow: inset 97px 0 0 #fff;
}

.example__in {
  position: relative;
  *zoom: 1;
}

.example__in:after {
  content: " ";
  display: table;
  clear: both;
}

.example__bl {
  float: left;
  width: 66%;
  text-align: right;
}

.example__bl .example__el {
  width: 50%;
}

.example__el {
  float: right;
  width: 33%;
  margin-top: 35px;
}

.example__el-left {
  text-align: right;
}

.example__el-right {
  float: right;
}

.example__el-video {
  margin: 0 -10px 0 -15px;
}

.example__img {
  display: inline-block;
  width: 100%;
  max-width: 344px;
}

.example .video {
  width: auto;
  padding-bottom: 0;
  height: 100%;
}

.example .video__bl {
  top: 7%;
  left: 13.5%;
  right: 13.5%;
  bottom: 18%;
  top: 7%;
  left: 14.5%;
  right: 14.4%;
  bottom: 18%;
  z-index: -1;
}

.query {
  position: relative;
  padding-top: 10px;
  overflow: hidden;
}

.query:after {
  content: "";
  position: absolute;
  width: 97px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #FFF;
}

.query-black:after {
  display: none;
}

.query-black .query__bl:before {
  display: none;
}

.query-black .query__el img {
  display: inline-block;
  max-width: 375px;
}

.mobile-skew-bg .query-black .query__el img {
  max-width: none;
  max-width: 868px;
}

.query-top-padding {
  padding-top: 579px;
  margin-top: -579px;
}

.query-top-padding .l-center {
  position: relative;
  padding-top: 579px;
  margin-top: -579px;
}

.query-full-w {
  margin: 122px 0 57px;
  margin-top: 70px;
}

.query-full-w .query__bl {
  margin: 0 0 77px;
  margin-bottom: 30px;
}

.query-full-w .query__el {
  width: 100%;
}

.query__bg {
  background-image: url(../img/herox/herox-space.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-position: 0 50%;
}

.query__bg-last {
  background-image: url(../img/herox/bg-herox1.jpg);
  background-repeat: repeat;
}

.query__in {
  max-width: 910px;
  margin: 0 auto;
}

.query__bl {
  margin-top: -195px;
}

.query__bl:first-child, .query__bl:last-child {
  position: relative;
}

.query__bl:first-child:before, .query__bl:last-child:before {
  content: "";
  position: absolute;
  width: 10000px;
  height: 273px;
  background: #f2f4f0;
}

.query__bl:first-child {
  margin-top: 0;
}

.query__bl:first-child:before {
  top: 10%;
  left: 38px;
}

.query__bl:last-child:before {
  right: 38px;
  bottom: 20.5%;
}

.query__bl:nth-child(even) {
  text-align: right;
}

.query__bl img {
  position: relative;
  display: block;
  max-width: 100%;
  z-index: 1;
}

.query__bl img.query-mob {
  width: 100%;
  max-width: 375px;
}

.query__el {
  display: inline-block;
  width: 50%;
}

.query__center {
  position: relative;
  text-align: center;
  clear: both;
}

.query__center-no-width {
  margin-bottom: 130px;
  padding-top: 48px;
}

.query__center .video__bl {
  top: 9%;
}

.query__img {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.mockup {
  margin: 105px 0 115px;
}

.mockup__in {
  margin: 0 -30px;
}

.mockup__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.mockup .l-center {
  max-width: 1315px;
  padding: 0 30px 0 100px;
}

.layout__in {
  padding: 0 40px;
  *zoom: 1;
}

.layout__in:after {
  content: " ";
  display: table;
  clear: both;
}

.layout__bl {
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
}

.layout__bl:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  width: 118.3%;
  height: 605px;
  margin-top: -301px;
  background-image: url(../img/itc/ellipse.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.layout__bl-mode {
  margin-top: 83px;
}

.layout__bl-mode:before {
  height: 562px;
  top: -30px;
  left: auto;
  right: -20px;
  width: 101.5%;
  margin-top: 0;
  background-image: url(../img/itc/ellipse2.png);
}

.logo-design {
  margin: 70px 0 73px;
  text-align: center;
}

.logo-design__txt {
  margin-top: 20px;
  font-size: 17px;
  color: #cccccb;
  letter-spacing: 0.05em;
  font-family: 'timeburner', Arial, sans-serif;
}

.logo-design img {
  max-width: 100%;
  margin-top: 38px;
}

.herox-pattern {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 750px;
  background-image: url(../img/herox/herox-space.png);
  background-size: cover;
  background-position: center bottom;
  z-index: -1;
  background-image: url(../img/herox/bg-herox1.jpg);
}

.fract-pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1639px;
  background-image: url(../img/fract/fract-bg.png);
  background-size: cover;
  background-position: top left;
  z-index: -1;
}

.fract-bg {
  position: absolute;
  top: 40px;
  right: 0;
  width: 835px;
  height: 1159px;
  background-image: url(../img/fract/fract-bg2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.itconf-bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 16.5% 10px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  text-align: center;
  font-size: 0;
}

.itconf-bg:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.itconf-bg span {
  display: inline-block;
  width: 100%;
  height: 37.8%;
  background-color: #f4d509;
  vertical-align: middle;
}

@media only screen and (min-width: 1021px) and (min-height: 616px) {

  .nav.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 1020px), screen and (max-height: 615px) {

  body.is-overflow {
    overflow: hidden;
  }

  .header .header__in {
    max-width: 100%;
  }

  .header__in {
    display: block;
  }

  .header__mail {
    display: none;
  }

  .header__logo {
    margin: 5px 15px 12px;
    font-size: 16px;
  }

  .header .link {
    display: none;
  }

  .nav.is-open {
    opacity: 1;
    visibility: visible;
  }

  .nav {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 55px 0;
    background: url(../img/section-bg.jpg) repeat;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    overflow: auto;
    z-index: 110;
    opacity: 0;
    visibility: hidden;
  }

  .nav__btn {
    display: block;
  }

  .nav__mob {
    display: block;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 17px;
  }

  .nav__close:hover .icon-close {
    fill: #fff;
  }

  .nav .nav__menu {
    display: block;
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
  }

  .nav .nav__menu li {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
  }

  .nav .link {
    padding: 16px 8px 6px 14px;
  }

  .nav .social {
    display: block;
    margin-top: 65px;
  }

  .portfolio {
    display: none;
  }

  .moveto {
    right: 70px;
  }

  .moveto__bl {
    min-width: 63px;
    padding: 16.5px 5px;
    background: none;
  }

  .moveto__bl:hover .moveto__arr:before {
    width: 50px;
  }

  .moveto__bl-left .moveto__arr {
    left: -4px;
    right: auto;
  }

  .moveto__bl-left .moveto__arr:before {
    left: auto;
    right: -43px;
  }

  .moveto__arr {
    margin-top: -9px;
    right: 10px;
  }

  .moveto__arr:before {
    left: -43px;
  }

  .moveto .icon {
    font-size: 16px;
  }

  .social__bl {
    max-width: 250px;
    margin: 0 auto;
  }

  .social__ico {
    min-width: 43px;
  }

  .social__link span {
    font-size: 15px;
  }

  .social__logo {
    text-align: center;
  }

  .social__logo span {
    display: block;
    padding: 5px 0 0 10px;
  }

  .social__logo .icon-logo {
    font-size: 25px;
    fill: #8e8e8e;
  }

  .social .icon {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1860px) {

  .part__pic {
    right: 0;
  }
}

@media only screen and (max-width: 1660px) {

  .part__img {
    right: -100px;
  }
}

@media only screen and (max-width: 1500px) {

  .part__img {
    right: -190px;
  }
}

@media only screen and (max-width: 1350px) {

  .footer__logo {
    right: 0;
    width: 444px;
  }
}

@media only screen and (max-width: 1320px) {

  .part__pic {
    top: -180px;
  }

  .part__img {
    right: -300px;
  }
}

@media only screen and (max-width: 1290px) {
  
  .footer__logo {
    width: 510px;
  }
}

@media only screen and (max-width: 1250px) {

  .part__img {
    right: -350px;
  }

  .part__center img {
    right: -320px;
  }
}

@media only screen and (max-width: 1130px) {

  .title-right {
    max-width: 400px;
  }

  .title-right .title__txt {
    font-size: 64px;
  }

  .title-small {
    max-width: 330px;
  }

  .media__img-mode1 {
    max-width: 279px;
  }

  .media__img-mode {
    max-width: 250px;
    margin-right: 0;
  }

  .media__video img {
    max-height: 565px;
  }

  .layout__in {
    padding: 0;
  }

  .layout__bl-mode:before {
    right: 0;
  }

  .footer__logo {
    width: 520px;
  }
}

@media only screen and (max-width: 1020px) {

  .out {
    padding-top: 73px;
  }

  .out-main {
    padding-top: 0;
  }

  .out-skew .part .l-center:before {
    display: none;
  }

  .out-skew .part__center:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .out-skew .part__cover {
    position: relative;
    overflow: visible;
  }

  .out-skew .objective {
    margin-top: 70px;
  }

  .out .mobile-skew-bg {
    position: relative;
  }

  .out .mobile-skew-bg:before {
    content: "";
    position: absolute;
    top: 13%;
    left: -71%;
    bottom: 0;
    width: 160%;
    background: #F4D509;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
  }

  .out .mobile-skew-bg img {
    position: relative;
    z-index: 1;
  }

  .l {
    padding: 0;
  }

  .l-center {
    padding: 0 15px;
  }

  .title {
    letter-spacing: 0;
    text-shadow: -6.9px 1.9px 20px #ced0d3;
  }

  .title-big .title__txt, .title-right .title__txt {
    font-size: 50px;
  }

  .title-small {
    max-width: 250px;
  }

  .title__span, .title__txt {
    font-size: 39px;
  }

  .title__span {
    padding-top: 2px;
  }

  .title__name {
    max-width: 280px;
  }

  .title__bl {
    max-width: 400px;
    margin: 0 auto;
  }

  .section {
    min-height: 1px;
    padding: 0 15px;
  }

  .section-parallax {
    height: auto;
    min-height: 1px;
  }

  .section-parallax .l {
    padding: 0;
    height: auto;
  }

  .section-first {
    padding: 0;
    white-space: nowrap;
  }

  .section__letters {
    width: 81.6%;
    white-space: normal;
  }

  .section__list {
    font-size: 18px;
    line-height: 2.4;
  }

  .section__el {
    min-height: 1px;
  }

  .section__el-padding-top {
    padding-top: 87px;
  }

  .section__centered {
    height: auto;
    padding: 260px 0 165px;
  }

  .symbol {
    width: 200%;
    left: -42%;
  }

  .arr {
    display: none;
  }

  .designer__intro {
    position: static;
    width: auto;
  }

  .designer__img {
    display: block;
    margin: 45px auto 100px;
  }

  .designer__in {
    font-size: 24px;
  }

  .more-info {
    width: auto;
    margin-bottom: 95px;
    font-size: 18px;
  }

  .l-parallax {
    position: static;
    height: auto;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }

  .l-parallax.is-active {
    position: static;
  }

  .l-parallax__in {
    padding: 0;
  }

  .blockquote__el {
    margin-bottom: 20px;
  }

  .footer {
    padding-top: 127.5px;
  }

  .footer-inner {
    padding-top: 30px;
  }

  .footer-inner .social__logo {
    margin-bottom: 8px;
  }

  .footer__logo {
    display: none;
  }

  .footer__txt {
    margin: 0 auto;
    font-size: 18px;
  }

  .part__pic {
    position: static;
  }

  .part__img {
    text-align: center;
    right: 0;
  }

  .part__img:first-child {
    margin-bottom: -140px;
  }

  .part__img img {
    display: inline-block;
    width: 100%;
    max-width: 700px;
  }

  .part__cover {
    position: static;
    width: 100%;
  }

  .part__cover img {
    max-width: 100%;
    right: 0;
  }

  .objective {
    margin: 0 0 40px 0;
  }

  .objective-mode {
    margin: -50px 0 5px;
  }

  .objective-mode:before {
    display: none;
  }

  .objective-mode .objective__visual:before {
    display: block;
  }

  .objective-mode .objective__txt {
    padding: 0 0 70px 0;
  }

  .objective__visual, .objective__txt {
    float: none;
    width: 100%;
  }

  .objective__visual {
    text-align: center;
  }

  .objective__txt {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 0 70px 0;
  }

  .example {
    padding: 54px 0 0;
    box-shadow: none;
  }

  .example__bl {
    float: none;
    width: 100%;
  }

  .example__bl .example__el-video {
    width: 100%;
  }

  .example__el {
    width: 50%;
    margin-top: -20px;
  }

  .example__el-video {
    text-align: center;
    margin: 0;
  }

  .example__el-left {
    text-align: left;
  }

  .example__el-right {
    text-align: right;
  }

  .example .video {
    max-width: 70%;
  }

  .query-full-w {
    margin-top: 30px;
    text-align: center;
  }

  .query-full-w .query__bl {
    margin-bottom: 30px;
  }

  .query:after {
    display: none;
  }

  .query__center {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
  }

  .query__center-no-width {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 48px;
  }

  .mockup {
    margin: 30px 0 38px;
  }

  .mockup__in {
    margin: 0;
  }

  .mockup .l-center {
    padding: 0;
  }

  .layout__bl {
    float: none;
    width: 100%;
    clear: right;
  }

  .layout__bl:before {
    width: 100%;
    left: 0;
  }

  .layout__el {
    width: 75%;
    margin: 0 auto;
  }

  .layout .title {
    margin-bottom: 40px;
  }

  .herox-pattern {
    background-position: left bottom;
  }

  .fract-bg {
    top: 200px;
    width: 600px;
    height: 833px;
  }

  .itconf-bg {
    left: -5%;
    right: -5%;
    padding: 23px 0 0;
  }

  .itconf-bg span {
    height: 37%;
  }
}

@media only screen and (min-height: 730px) {

  .nav li {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 890px) {

  .out-skew .mobile-skew-bg:before {
    top: 13.5%;
    left: -86%;
    width: 183%;
  }
}

@media only screen and (max-width: 850px) {

  .out-skew .mobile-skew-bg:before {
    top: 15%;
    left: -77%;
    width: 172%;
  }
}

@media only screen and (max-width: 800px) {

  .query__img {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 730px) {

  .out-skew .objective {
    margin-top: 120px;
  }

  .out-skew .mobile-skew-bg:before {
    top: 16%;
    left: -79%;
    width: 179%;
  }
}

@media only screen and (max-width: 700px) {

  .objective__visual {
    z-index: 200;
  }
}

@media only screen and (max-width: 650px) {

  .title-big .title__txt, .title-right .title__txt {
    font-size: 39px;
  }

  .title .title__txt {
    font-size: 39px;
  }

  .title-small {
    max-width: 200px;
  }

  .video-mob-shadow:before {
    top: 1%;
    border-radius: 10%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0px 0 15px 0px rgba(0, 0, 0, 0.2), 0px 0 15px 0px rgba(0, 0, 0, 0.2);
  }

  .part__img:first-child {
    margin-bottom: -120px;
  }

  .part__info {
    padding-left: 0;
  }

  .media__img-mode1 {
    max-width: 187px;
    top: -17px;
    max-width: 195px;
  }

  .media__img-mode {
    max-width: 175px;
  }

  .media__video img {
    max-height: 395px;
  }

  .query__bl {
    margin-top: -100px;
  }

  .query__bl:first-child:before, .query__bl:last-child:before {
    height: 140px;
  }

  .mockup .l-center {
    padding: 0 15px;
  }

  .layout__bl-mode {
    margin-top: 0;
  }

  .fract-bg {
    top: 320px;
    width: 400px;
    height: 555px;
  }
}

@media only screen and (max-width: 630px) {

  .out-skew .mobile-skew-bg:before {
    top: 24%;
    left: -165%;
    width: 255%;
  }
}

@media only screen and (max-width: 600px) {

  .video-mode .video__bl {
    z-index: 10;
  }

  .objective-mode .objective__txt {
    padding-top: 25px;
  }

  .query-black .query__el img {
    max-width: 100%;
  }

  .mobile-skew-bg .query-black .query__el img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 450px) {

  .out-skew .mobile-skew-bg:before {
    top: 27%;
  }

  .media__img-mode1 {
    max-width: 129px;
    top: -10px;
  }

  .media__img-mode {
    max-width: 115px;
  }

  .media__video img {
    max-height: 260px;
  }
}

@media only screen and (max-width: 370px) {

  .layout__bl-mode:before {
    top: -25%;
  }
}

@media only screen and (max-width: 340px) {

  .title__span, .title__txt {
    font-size: 36px;
  }
}

@media only screen and (max-height: 610px) {

  .arr {
    display: none;
  }
}

@media only screen and (min-height: 765px) {

  .nav li {
    padding: 0 15px;
  }
}

@media only screen and (min-height: 830px) {

  .nav li {
    padding: 0 20px;
    font-size: 11px;
  }
}

@media only screen and (min-height: 950px) {

  .nav li {
    padding: 0 30px;
  }
}

@media only screen and (max-height: 790px) {

  .arr {
    bottom: 5vh;
  }
}

/*# sourceMappingURL=app.css.map */
#blocker{
      position:fixed;
      width:100%;
      height:100%;
      left:0;
      top:0;
      right:0;
      bottom:0;
      z-index:9999;
}
